{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "semi": true,
    "requirePragma": false,
    "proseWrap": "preserve",
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": true
}
